.result-item {
  &__container {
    margin: 12px 20px 12px 20px;
    .card {
      display: flex;
    }
    > * h2 {
      font-size: 1.2rem;
    }
  }
  &__title {
    padding-bottom: 4px;
    border-bottom: 1px rgba(0, 0, 0, 0.125) solid;
  }

  &__body {
    padding: 0 4px 0 4px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__numberAndLabels {
      display: flex;
      align-items: center;
    }
    &__number {
      margin-right: 4px;
    }
    &__labels {
      display: flex;
      flex-wrap: wrap;
      .label {
        margin: 2px 4px 2px 4px;
      }
    }

    a {
      z-index: 1;
      .result-item__header__expandLink {
        min-width: 120px;
        height: 40px;
      }
    }
  }
}

.collapse:not(.show) {
  height: 15rem !important;
  overflow-y: hidden;
  display: block !important;
  :before {
    content: "";
    width: 100%;
    height: 85%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(255, 255, 255, 0) 350px, white);
  }
}
