.result-item {
  &__container {
    margin: 12px 20px 12px 20px;
    .card {
      display: flex;
    }
    > * h2 {
      font-size: 1.2rem;
    }
  }
  &__title {
    padding-bottom: 4px;
    border-bottom: 1px rgba(0, 0, 0, 0.125) solid;
  }
  &__body {
    padding: 0 4px 0 4px;
  }
  &__number {
    margin-right: 4px;
  }
  &__label {
    margin: auto 4px auto 4px;
  }
}
