.search-form {
  display: flex;
}

.searchBar {
  &__container {
    position: relative;
    margin-right: 5px;
  }

  &__box {
    width: 100% !important;
  }
  &__close {
    fill: gray;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    :hover {
      fill: black;
    }
  }
}
